.idea
*.iml
application-local.properties
application-local.yaml
bootstrap-local.yaml
transaction-logs
target
.gradle
/build/
/syfoinntektsmelding.ipr
/syfoinntektsmelding.iws
out/
gradle.properties
.DS_Store
application-local.yml
