.idea
*.iml
application-local.properties
transaction-logs
target
.gradle
/build/kotlin/compileKotlin/dirty-sources.txt
/build/kotlin/compileKotlin/build-history.bin
/build/
/syfoinntektsmelding.ipr
/syfoinntektsmelding.iws
