<?xml version="1.0" encoding="UTF-8"?>
<included>
	<appender name="stdout_json" class="no.nav.common.log.MaskingAppender">
		<appender name="stdout_json_masked" class="ch.qos.logback.core.ConsoleAppender">
			<encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
		</appender>
	</appender>

	<root level="WARN">
		<appender-ref ref="stdout_json"/>
	</root>

	<logger name="no.nav.syfo" level="INFO" additivity="false">
		<appender-ref ref="stdout_json"/>
	</logger>

	<logger name="org.springframework" level="INFO"/>
	<logger name="org.apache.cxf" level="ERROR"/>
</included>
