apiVersion: "nais.io/v1alpha1"
kind: "Application"
metadata:
  namespace: helsearbeidsgiver
  name: syfoinntektsmelding
  labels:
    team: helsearbeidsgiver
spec:
  ingresses:
    - https://syfoinntektsmelding.intern.nav.no
    - https://syfoinntektsmelding.prod-fss-pub.nais.io
  image: {{image}}
  port: 8080
  prometheus:
    enabled: true
    path: /metrics
  readiness:
    initialDelay: 60
    path: /health/is-ready
    timeout: 2
  liveness:
    failureThreshold: 600
    initialDelay: 60
    path: /health/is-alive
    periodSeconds: 6
    timeout: 3
  replicas:
    max: 1
    min: 1
  resources:
    limits:
      memory: "1024Mi"
    requests:
      cpu: "500m"
      memory: "386Mi"
  vault:
    enabled: true

  webproxy: true
  secureLogs:
    enabled: true
  kafka:
    pool: nav-prod
  azure:
    application:
      enabled: true

  accessPolicy:
    inbound:
      rules:
        - application: helsearbeidsgiver-proxy
        - application: im-bro-spinn
          namespace: helsearbeidsgiver
          cluster: prod-gcp
  env:
    - name: KOIN_PROFILE
      value: "PROD"
    - name: ABAC_PDP_ENDPOINT_URL
      value: "https://wasapp.adeo.no/asm-pdp/authorize"
    - name: SECURITYTOKENSERVICE_URL
      value: "https://sts.adeo.no/SecurityTokenServiceProvider/"
    - name: SRVSYFOINNTEKTSMELDING_USERNAME
      value: "srvsyfoinntektsmel"
    - name: OIDC_STS_ISSUERURL
      value: "http://security-token-service.default.svc.nais.local/rest/v1/sts/token"
    - name: OIDC_STS_JWKSURL
      value: "http://security-token-service.default.svc.nais.local/rest/v1/sts/jwks"
    - name: KAFKA_BOOTSTRAP_SERVERS
      value: "a01apvl00145.adeo.no:8443,a01apvl00146.adeo.no:8443,a01apvl00147.adeo.no:8443,a01apvl00148.adeo.no:8443,a01apvl00149.adeo.no:8443,a01apvl00150.adeo.no:8443\n"
    - name: DATABASE_HOST
      value: "a01dbvl010.adeo.no"
    - name: DATABASE_PORT
      value: "5432"
    - name: DATABASE_NAME
      value: "syfoinntektsmelding"
    - name: SECURITY_TOKEN_SERVICE_TOKEN_URL
      value: "http://security-token-service.default.svc.nais.local/rest/v1/sts/token"
    - name: AADACCESSTOKEN_URL
      value: "https://login.microsoftonline.com/navno.onmicrosoft.com/oauth2/token"
    - name: AAD_SYFOINNTEKTSMELDING_CLIENTID_USERNAME
      value: "e533392d-3b97-4c8c-a0d5-d4af010f1b54"
    - name: OPPGAVEBEHANDLING_URL
      value: "http://oppgave.default.svc.nais.local/api/v1/oppgaver"
    - name: OPPRETT_SAK_URL
      value: "http://sak.teamdokumenthandtering.svc.nais.local/api/v1/saker"
    - name: SRVAPPSERVER_USERNAME
      value: "srvappserver"
    - name: SRVAPPSERVER_PASSWORD
      value: ""
    - name: VAULT_BACKEND
      value: "postgresql/prod-fss"
    - name: VAULT_MOUNTPATH
      value: "postgresql/prod-fss/"
    - name: KAFKA_JOARK_HENDELSE_TOPIC
      value: "teamdokumenthandtering.aapen-dok-journalfoering"
    - name: KAFKA_UTSATT_OPPGAVE_TOPIC
      value: "tbd.spre-oppgaver"
    - name: DOKARKIV_URL
      value: "https://dokarkiv.intern.nav.no/rest/journalpostapi/v1"
    - name: RUN_BACKGROUND_WORKERS
      value: "true"
    - name: PDL_URL
      value: "https://pdl-api.nais.adeo.no/graphql"
    - name: NORG2_URL
      value: "https://norg2.nais.adeo.no/norg2/api/v1"
    - name: SAF_DOKUMENT_URL
      value: "https://saf.intern.nav.no/rest"
    - name: SAF_JOURNAL_URL
      value: "https://saf.intern.nav.no/graphql"
