name: Daglig snyk

on:
  push:
    tags:
      - snyk/*
  schedule:
    - cron: '15 3 * * *'

jobs:
  snyk:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Run Snyk to check for vulnerabilities
        uses: snyk/actions/gradle@master
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
          ORG_GRADLE_PROJECT_githubPassword: ${{ secrets.GITHUB_TOKEN }}
        with:
          command: monitor
          args: --configuration-matching=runtimeClasspath --fail-on=all --org=helsearbeidsgiver
